In [2]:
from dateutil.parser import parse
from IPython.display import display
import numpy as np
import pandas as pd
import ast
import datetime
import nltk
import re
import string

In [3]:
reviews = pd.read_csv('./scraping/data/reviews.csv')
details = pd.read_csv('./scraping/data/details.csv')

# Etapa 2 — Pré-processamento de dados
## 2.1 Tratamento de dados ausentes

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

In [4]:
display(details.isnull().sum())

movie            1
release_date     1
acclaim_rate     1
user_score       1
director        20
genres          37
languages        0
dtype: int64

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

Nulla tincidunt risus in est fringilla, ut venenatis neque rhoncus. Praesent euismod et urna tempus accumsan. Mauris ultricies dolor vel lacus pretium auctor. Sed sed placerat justo. Nullam viverra neque interdum metus aliquet, non euismod neque interdum. Quisque interdum egestas magna, vestibulum feugiat nisl accumsan et. Nam finibus pulvinar hendrerit. Sed nec pulvinar ligula.

In [5]:
display(details[details.movie.isnull()])

     movie release_date acclaim_rate user_score director genres languages
5208   NaN          NaN          NaN        NaN      NaN    NaN        []

In [6]:
details = details.drop(5208); reviews = reviews.drop(5208)
details.reset_index(inplace=True, drop=True)
reviews.reset_index(inplace=True, drop=True)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

Nulla tincidunt risus in est fringilla, ut venenatis neque rhoncus. Praesent euismod et urna tempus accumsan. Mauris ultricies dolor vel lacus pretium auctor. Sed sed placerat justo. Nullam viverra neque interdum metus aliquet, non euismod neque interdum. Quisque interdum egestas magna, vestibulum feugiat nisl accumsan et. Nam finibus pulvinar hendrerit. Sed nec pulvinar ligula.

In [7]:
details.director = details.director.fillna('unknown')

## 2.2 Ajuste de tipos de atributos

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

Nulla tincidunt risus in est fringilla, ut venenatis neque rhoncus. Praesent euismod et urna tempus accumsan. Mauris ultricies dolor vel lacus pretium auctor. Sed sed placerat justo. Nullam viverra neque interdum metus aliquet, non euismod neque interdum. Quisque interdum egestas magna, vestibulum feugiat nisl accumsan et. Nam finibus pulvinar hendrerit. Sed nec pulvinar ligula.

In [8]:
print(reviews.dtypes)

movie           object
reviewer        object
metascore       object
review_score     int64
review_text     object
review_date     object
details         object
dtype: object

Duis auctor molestie aliquet. Integer nibh dolor, tristique a varius at, vehicula eu odio. Vestibulum nulla nisl, maximus euismod felis quis, mollis iaculis odio. Nulla vitae ipsum at nulla eleifend bibendum. Donec semper, ligula nec scelerisque facilisis, magna lacus auctor ex, in lacinia velit augue ac turpis. Proin vestibulum ornare mauris, ac accumsan justo. Praesent quis mi commodo dolor pharetra commodo id fermentum eros. Ut egestas arcu vitae consequat pellentesque. Pellentesque sagittis felis sed enim fermentum, non fringilla neque tincidunt. Nam tempor, sem et tincidunt dictum, nulla sapien auctor ex, eu rhoncus nisl nisl laoreet nunc. Maecenas hendrerit id felis eu mollis. Pellentesque nec pellentesque eros, a euismod mauris. Maecenas varius massa eu felis dignissim ornare.

In [9]:
def metascore_parser(score):
    if score != 'tbd':
        return int(score)
    return np.nan

def date_parser(date):
    if date is np.nan or date == 'TBA':
        return np.nan
    return parse(date)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

In [10]:
reviews.metascore = reviews['metascore'].apply(metascore_parser)
reviews.review_date = reviews['review_date'].apply(date_parser)
reviews.reviewer = reviews['reviewer'].astype('category')
reviews = reviews.drop('details', axis=1)

display(reviews.head())
display(reviews.dtypes)

,movie,reviewer,metascore,review_score,review_text,review_date
0,The Grandmaster,Manohla Dargis,73.0,100,"The Grandmaster is, at its most persuasive, ab...",2013-08-22
1,Of Gods and Men,A.O. Scott,86.0,100,"Of Gods and Men is supple and suspenseful, app...",2011-02-24
2,Kubo and the Two Strings,Glenn Kenny,84.0,100,"The action is gorgeously fluid, the idiosyncra...",2016-08-18
3,Jane,Ben Kenigsberg,87.0,100,Jane will delight those familiar with Ms. Good...,2017-10-19
4,Bird People,A.O. Scott,70.0,100,"There are plot twists, and then there is what ...",2014-09-11

movie                   object
reviewer              category
metascore              float64
review_score             int64
review_text             object
review_date     datetime64[ns]
dtype: object

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

Nulla tincidunt risus in est fringilla, ut venenatis neque rhoncus. Praesent euismod et urna tempus accumsan. Mauris ultricies dolor vel lacus pretium auctor. Sed sed placerat justo. Nullam viverra neque interdum metus aliquet, non euismod neque interdum. Quisque interdum egestas magna, vestibulum feugiat nisl accumsan et. Nam finibus pulvinar hendrerit. Sed nec pulvinar ligula.

In [11]:
print(details.dtypes)

movie           object
release_date    object
acclaim_rate    object
user_score      object
director        object
genres          object
languages       object
dtype: object

Duis auctor molestie aliquet. Integer nibh dolor, tristique a varius at, vehicula eu odio. Vestibulum nulla nisl, maximus euismod felis quis, mollis iaculis odio. Nulla vitae ipsum at nulla eleifend bibendum. Donec semper, ligula nec scelerisque facilisis, magna lacus auctor ex, in lacinia velit augue ac turpis. Proin vestibulum ornare mauris, ac accumsan justo. Praesent quis mi commodo dolor pharetra commodo id fermentum eros. Ut egestas arcu vitae consequat pellentesque. Pellentesque sagittis felis sed enim fermentum, non fringilla neque tincidunt. Nam tempor, sem et tincidunt dictum, nulla sapien auctor ex, eu rhoncus nisl nisl laoreet nunc. Maecenas hendrerit id felis eu mollis. Pellentesque nec pellentesque eros, a euismod mauris. Maecenas varius massa eu felis dignissim ornare.

In [12]:
def userscore_parser(score):
    if score != 'tbd':
        return float(score)*10
    return np.nan

list_parser = lambda x: ast.literal_eval(x) if x is not np.nan else ['unknown']
getFirstElem = lambda y: y[0] if len(y) is not 0 else 'unknown'

In [13]:
details.genres = details['genres'].apply(list_parser)
binary_genres = pd.get_dummies(details['genres'].apply(pd.Series).stack()).sum(level=0)

details = details.drop('genres', axis=1)
details = pd.concat([details, binary_genres], axis=1)

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

In [14]:
details.user_score = details['user_score'].apply(userscore_parser)
details.release_date = details['release_date'].apply(date_parser)
details.languages = details['languages'].apply(list_parser).apply(getFirstElem)
details.languages = details['languages'].astype('category')
details.acclaim_rate = details['acclaim_rate'].astype('category')
details.director = details['director'].astype('category')
for col in details.columns[6:-1]:
    print(col)
    details[col] = details[col].astype('int64')

display(details.head())
display(details.dtypes)

Action
Adult
Adventure
Animation
Biography
Comedy
Crime
Documentary
Drama
Family
Fantasy
Film-Noir
History
Horror
Music
Musical
Mystery
News
Reality-TV
Romance
Sci-Fi
Short
Sport
Talk-Show
Thriller
War
Western

,movie,release_date,acclaim_rate,user_score,director,languages,Action,Adult,Adventure,Animation,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,unknown
0,The Grandmaster,2013-08-23,Generally favorable reviews,67.0,Kar Wai Wong,Mandarin,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Of Gods and Men,2011-02-25,Generally favorable reviews,70.0,Xavier Beauvois,French,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Kubo and the Two Strings,2016-08-19,Universal acclaim,81.0,Travis Knight,English,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Jane,2017-10-20,No score yet,NaN,Brett Morgen,English,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bird People,2014-09-12,Generally favorable reviews,70.0,Pascale Ferran,English,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

movie                   object
release_date    datetime64[ns]
acclaim_rate          category
user_score             float64
director              category
languages             category
Action                   int64
Adult                    int64
Adventure                int64
Animation                int64
Biography                int64
Comedy                   int64
Crime                    int64
Documentary              int64
Drama                    int64
Family                   int64
Fantasy                  int64
Film-Noir                int64
History                  int64
Horror                   int64
Music                    int64
Musical                  int64
Mystery                  int64
News                     int64
Reality-TV               int64
Romance                  int64
Sci-Fi                   int64
Short                    int64
Sport                    int64
Talk-Show                int64
Thriller                 int64
War                      int64
Western                  int64
unknown                  uint8
dtype: object

## 2.3 Discretização

In [15]:
details['release_decade'] = pd.cut(details.release_date.map(lambda x: x.year),
       bins=np.insert(np.linspace(1930, 2010, 9, dtype=np.int32), 9, 2017),
       labels=list(map(lambda x: '{}s'.format(x),
       np.linspace(1930, 2010, 9, dtype=np.int32)))
)

display(pd.concat([details.release_date.apply(lambda x: x.year).head(10),
                   details.release_decade.head(10)], axis=1))

   release_date release_decade
0        2013.0          2010s
1        2011.0          2010s
2        2016.0          2010s
3        2017.0          2010s
4        2014.0          2010s
5        2012.0          2010s
6        2015.0          2010s
7        1999.0          1990s
8        2011.0          2010s
9        2012.0          2010s

## 2.4 Integração de dados

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

In [16]:
display(details[details.duplicated()])
display(details[details.movie=='I Love You, Daddy'])

,movie,release_date,acclaim_rate,user_score,director,languages,Action,Adult,Adventure,Animation,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,unknown,release_decade
10525,"I Love You, Daddy",NaT,No score yet,NaN,Louis C.K.,English,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

,movie,release_date,acclaim_rate,user_score,director,languages,Action,Adult,Adventure,Animation,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,unknown,release_decade
2779,"I Love You, Daddy",NaT,No score yet,NaN,Louis C.K.,English,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
10525,"I Love You, Daddy",NaT,No score yet,NaN,Louis C.K.,English,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

Duis auctor molestie aliquet. Integer nibh dolor, tristique a varius at, vehicula eu odio. Vestibulum nulla nisl, maximus euismod felis quis, mollis iaculis odio. Nulla vitae ipsum at nulla eleifend bibendum. Donec semper, ligula nec scelerisque facilisis, magna lacus auctor ex, in lacinia velit augue ac turpis. Proin vestibulum ornare mauris, ac accumsan justo. Praesent quis mi commodo dolor pharetra commodo id fermentum eros. Ut egestas arcu vitae consequat pellentesque. Pellentesque sagittis felis sed enim fermentum, non fringilla neque tincidunt. Nam tempor, sem et tincidunt dictum, nulla sapien auctor ex, eu rhoncus nisl nisl laoreet nunc. Maecenas hendrerit id felis eu mollis. Pellentesque nec pellentesque eros, a euismod mauris. Maecenas varius massa eu felis dignissim ornare.

In [17]:
display(reviews[reviews.movie=='I Love You, Daddy'])

,movie,reviewer,metascore,review_score,review_text,review_date
2779,"I Love You, Daddy",Manohla Dargis,56.0,80,"“Zama” and I Love You, Daddy are two of the be...",NaT
10525,"I Love You, Daddy",Manohla Dargis,56.0,40,"When I watched I Love You, Daddy a second time...",NaT

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales varius bibendum. Aliquam erat volutpat. Integer pretium nisi sit amet dolor vestibulum dapibus. Donec ipsum mi, sollicitudin eget leo eget, sollicitudin consectetur sapien. Cras ligula purus, mollis at elementum sit amet, ullamcorper eu sem. Integer vitae magna vehicula dolor consequat consectetur. Nulla nec arcu ac nibh luctus sagittis.

Nulla tincidunt risus in est fringilla, ut venenatis neque rhoncus. Praesent euismod et urna tempus accumsan. Mauris ultricies dolor vel lacus pretium auctor. Sed sed placerat justo. Nullam viverra neque interdum metus aliquet, non euismod neque interdum. Quisque interdum egestas magna, vestibulum feugiat nisl accumsan et. Nam finibus pulvinar hendrerit. Sed nec pulvinar ligula.

In [18]:
movie_reviews = pd.merge(reviews, details, on='movie', left_index=True, right_index=True)
display(movie_reviews.head())
display(movie_reviews.shape)

,movie,reviewer,metascore,review_score,review_text,review_date,release_date,acclaim_rate,user_score,director,...,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,unknown,release_decade
0,The Grandmaster,Manohla Dargis,73.0,100,"The Grandmaster is, at its most persuasive, ab...",2013-08-22,2013-08-23,Generally favorable reviews,67.0,Kar Wai Wong,...,0,0,0,0,0,0,0,0,0,2010s
1,Of Gods and Men,A.O. Scott,86.0,100,"Of Gods and Men is supple and suspenseful, app...",2011-02-24,2011-02-25,Generally favorable reviews,70.0,Xavier Beauvois,...,0,0,0,0,0,0,0,0,0,2010s
2,Kubo and the Two Strings,Glenn Kenny,84.0,100,"The action is gorgeously fluid, the idiosyncra...",2016-08-18,2016-08-19,Universal acclaim,81.0,Travis Knight,...,0,0,0,0,0,0,0,0,0,2010s
3,Jane,Ben Kenigsberg,87.0,100,Jane will delight those familiar with Ms. Good...,2017-10-19,2017-10-20,No score yet,NaN,Brett Morgen,...,0,0,0,0,0,0,0,0,0,2010s
4,Bird People,A.O. Scott,70.0,100,"There are plot twists, and then there is what ...",2014-09-11,2014-09-12,Generally favorable reviews,70.0,Pascale Ferran,...,1,0,0,0,0,0,0,0,0,2010s

(12410, 40)

In [19]:
movie_reviews.to_csv('movie_data.csv', sep=',', index=False)

In [20]:
def get_sentiment(metascore):
    if metascore < 40:
        return 'neg'
    if metascore >= 40 and float(metascore) < 50:
        return 'mixed'
    if metascore >= 50:
        return 'pos'
    return 'unknown'
movie_reviews['sentiment'] = movie_reviews['metascore'].apply(get_sentiment)
movie_reviews['sentiment'] = movie_reviews['sentiment'].astype('category')

In [21]:
display(movie_reviews.head())
display(movie_reviews.shape)

,movie,reviewer,metascore,review_score,review_text,review_date,release_date,acclaim_rate,user_score,director,...,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,unknown,release_decade,sentiment
0,The Grandmaster,Manohla Dargis,73.0,100,"The Grandmaster is, at its most persuasive, ab...",2013-08-22,2013-08-23,Generally favorable reviews,67.0,Kar Wai Wong,...,0,0,0,0,0,0,0,0,2010s,pos
1,Of Gods and Men,A.O. Scott,86.0,100,"Of Gods and Men is supple and suspenseful, app...",2011-02-24,2011-02-25,Generally favorable reviews,70.0,Xavier Beauvois,...,0,0,0,0,0,0,0,0,2010s,pos
2,Kubo and the Two Strings,Glenn Kenny,84.0,100,"The action is gorgeously fluid, the idiosyncra...",2016-08-18,2016-08-19,Universal acclaim,81.0,Travis Knight,...,0,0,0,0,0,0,0,0,2010s,pos
3,Jane,Ben Kenigsberg,87.0,100,Jane will delight those familiar with Ms. Good...,2017-10-19,2017-10-20,No score yet,NaN,Brett Morgen,...,0,0,0,0,0,0,0,0,2010s,pos
4,Bird People,A.O. Scott,70.0,100,"There are plot twists, and then there is what ...",2014-09-11,2014-09-12,Generally favorable reviews,70.0,Pascale Ferran,...,0,0,0,0,0,0,0,0,2010s,pos

(12410, 41)